language: node_js
node_js:
  - "10.15.1"
dist: trusty
sudo: required
branches:
  only:
  - master
before_script:
  - npm install -g @angular/cli
script:
- ng lint
- npm run test-headless
- ng build --prod --base-href https://github.com/shruthiBenedictaPaulraj/FullStack/
# - mv dist/FullStack/index.html dist/FullStack/404.html
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  local_dir: dist/angular
  on:
    branch: master